<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>Restablecer Contraseña</title>
</head>
<body class="bg-gray-200 dark:bg-gray-900 flex justify-center items-center min-h-screen">

    <div class="max-w-lg w-full bg-white dark:bg-gray-800 rounded-lg shadow-md px-8 py-10 flex flex-col items-center">
          <!-- Logo -->
          <div class="flex justify-center mb-6">
            <img src="/assets/images/logotype.png" alt="Institución Logo" class="h-16">
        </div>
        <h1 class="text-2xl font-bold text-center text-blue-900 dark:text-white mb-8">Restablecer Contraseña</h1>

        <form action="/reset-password" method="POST" class="w-full flex flex-col gap-4">
            <!-- Correo Electrónico -->
            <div class="flex items-start flex-col justify-start">
                <label for="teacherId" class="text-sm text-gray-700 dark:text-gray-200 mb-2">ID del facilitador:</label>
                <input type="text" id="teacherId" name="teacherId" class="w-full px-3 dark:text-gray-200 dark:bg-gray-900 py-2 rounded-md border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>

            <!-- Nueva Contraseña -->
            <div class="flex items-start flex-col justify-start">
                <label for="newPassword" class="text-sm text-gray-700 dark:text-gray-200 mb-2">Nueva Contraseña:</label>
                <input type="password" id="newPassword" name="newPassword" class="w-full px-3 dark:text-gray-200 dark:bg-gray-900 py-2 rounded-md border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>

            <!-- Confirmar Nueva Contraseña -->
            <div class="flex items-start flex-col justify-start">
                <label for="confirmPassword" class="text-sm text-gray-700 dark:text-gray-200 mb-2">Confirmar Nueva Contraseña:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="w-full px-3 dark:text-gray-200 dark:bg-gray-900 py-2 rounded-md border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>

            <!-- Botón de Restablecer Contraseña -->
            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
                Restablecer Contraseña
            </button>
        </form>

        <div class="mt-4 text-center">
            <a href="/login" class="text-blue-500 hover:text-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Volver al inicio de sesión</a>
        </div>
    </div>

</body>
</html>
